[Home](https://pandas.pydata.org/pandas-docs/stable/index.html)
[What's New](https://pandas.pydata.org/pandas-docs/stable/whatsnew/v1.0.1.html)
[Getting Started](https://pandas.pydata.org/pandas-docs/stable/getting_started/index.html)
[User Guide](https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html)
[API Reference](https://pandas.pydata.org/pandas-docs/stable/reference/index.html)
[Development](https://pandas.pydata.org/pandas-docs/stable/development/index.html)
[Release Notes](https://pandas.pydata.org/pandas-docs/stable/whatsnew/index.html)
***
<img src="https://pandas.pydata.org/pandas-docs/stable/_static/pandas.svg" align="left" alt="dataframe image" width = "400">
***

In [19]:
#standard import The community agreed alias for pandas is pd, so loading pandas as pd is assumed standard practice for all of the pandas documentation.

import pandas as pd

If you have downloaded a conda distribution then you can ensure you have pandas and update it appropriately (conda install/update pandas) and or utilize (pip install pandas)

When working with tabular data, such as data stored in spreadsheets or databases, Pandas is the right tool for you when working in Jupyter Notebook or Lab. Pandas helps you to explore, clean, visualize, analyze and process your data. In Pandas, a data table is called a [DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html#pandas.DataFrame).

<!--![dataframe](images/dataframe.png) -->
<img src="https://pandas.pydata.org/pandas-docs/stable/_images/01_table_dataframe.svg" align="left" alt="dataframe image" width = "400">

In [20]:
!ls data

AI_Tools.csv data.csv

In [21]:
df = pd.read_csv('data/data.csv')

In [22]:
df

         Date    Open    High     Low   Close    Volume  Adj Close
0  2012-06-01  569.16  590.00  548.50  584.00  14077000     581.50
1  2012-05-01  584.90  596.76  522.18  577.73  18827900     575.26
2  2012-04-02  601.83  644.00  555.00  583.98  28759100     581.48
3  2012-03-01  548.17  621.45  516.22  599.55  26486000     596.99
4  2012-02-01  458.41  547.61  453.98  542.44  22001000     540.12
5  2012-01-03  409.40  458.24  409.00  456.48  12949100     454.53

Each column in a DataFrame is a Series!

In [23]:
#to call just one column and put it into a series
df['Volume']

0    14077000
1    18827900
2    28759100
3    26486000
4    22001000
5    12949100
Name: Volume, dtype: int64

In [24]:
#to call a row of data use .loc[index]
df.loc[3]

Date         2012-03-01
Open             548.17
High             621.45
Low              516.22
Close            599.55
Volume         26486000
Adj Close        596.99
Name: 3, dtype: object

In [25]:
#to call just one column and statistically describe
df['Volume'].describe()

count    6.000000e+00
mean     2.051668e+07
std      6.439925e+06
min      1.294910e+07
25%      1.526472e+07
50%      2.041445e+07
75%      2.536475e+07
max      2.875910e+07
Name: Volume, dtype: float64

Pandas supports the integration with many file formats or data sources out of the box (csv, excel, sql, json, parquet,html, hdf5). Importing data from each of these data sources is provided by function with the prefix read_*. Similarly, the to_* methods are used to store data. see supported list: https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

<img src="https://pandas.pydata.org/pandas-docs/stable/_images/02_io_readwrite.svg" alt="dataframe image" width = "800">

In [26]:
df2 = pd.read_csv('data/AI_Tools.csv')

In [27]:
df2.head()

,Tool/Capability,Description,Capability Type
0,Adobe Photoshop,Adobe Photoshop is a raster graphics editor.,Graphic editing
1,Amazon Backup,Fully managed backup service that makes it eas...,AWS Tools
2,Amazon Comprehend,Amazon Comprehend is a natural language proces...,AWS Tools
3,Amazon DynamoDB,Amazon DynamoDB is a fully managed proprietary...,AWS Tools
4,Amazon Elastic Block Storage,"Persistent, durable, low-latency block-level s...",AWS Tools

In [28]:
df2.groupby(['Capability Type']).count()

                                 Tool/Capability  Description
Capability Type
AI/ML Tools                                   58           58
AWS Tools                                     33           33
Automation/Infrastructure Tools               34           34
Azure Tools                                   21           21
Collaboration Tools                            3            3
Data Ingestion/Manipulation                   23           23
Data Visualization                             9            9
Database                                      14           14
DevSecOps Tools                               30           30
Docker Tools                                   5            5
Graphic editing                                1            1
Log Ingestion/Manipulation                     3            3
OS                                             8            8
OS Tools                                       1            1
Repository Tools/Library                      19           19
Requirements                                   1            1
Visualization Tools                            3            3

In [29]:
list(df2.columns)

['Tool/Capability', 'Description', 'Capability Type']

In [30]:
df4 = df2[['Tool/Capability', 'Capability Type' ]]

In [31]:
df4.groupby(['Capability Type']).count()

                                 Tool/Capability
Capability Type
AI/ML Tools                                   58
AWS Tools                                     33
Automation/Infrastructure Tools               34
Azure Tools                                   21
Collaboration Tools                            3
Data Ingestion/Manipulation                   23
Data Visualization                             9
Database                                      14
DevSecOps Tools                               30
Docker Tools                                   5
Graphic editing                                1
Log Ingestion/Manipulation                     3
OS                                             8
OS Tools                                       1
Repository Tools/Library                      19
Requirements                                   1
Visualization Tools                            3

In [32]:
#You would be hard pressed to find any place better to get federal data and integrate into your project. Data.gov
import webbrowser
datagov = 'https://www.data.gov/'
webbrowser.open(datagov)

True

In [39]:
#https://catalog.data.gov/dataset/local-weather-archive Town of Cary, North Carolina
!ls data

AI_Tools.csv             data.csv                 rdu-weather-history.json

In [37]:
weatherdf = pd.read_json('data/rdu-weather-history.json')

In [40]:
list(weatherdf.columns)

['fogground',
 'snowfall',
 'dust',
 'snowdepth',
 'mist',
 'drizzle',
 'hail',
 'fastest2minwindspeed',
 'thunder',
 'glaze',
 'snow',
 'ice',
 'fog',
 'temperaturemin',
 'fastest5secwindspeed',
 'freezingfog',
 'temperaturemax',
 'blowingsnow',
 'freezingrain',
 'rain',
 'highwind',
 'date',
 'precipitation',
 'fogheavy',
 'smokehaze',
 'avgwindspeed',
 'fastest2minwinddir',
 'fastest5secwinddir']

In [41]:
weatherdf.head()

,fogground,snowfall,dust,snowdepth,mist,drizzle,hail,fastest2minwindspeed,thunder,glaze,...,freezingrain,rain,highwind,date,precipitation,fogheavy,smokehaze,avgwindspeed,fastest2minwinddir,fastest5secwinddir
0,No,0.0,No,0.0,Yes,No,No,17.90,No,No,...,No,Yes,No,2007-01-06,0.13,No,No,8.05,230.0,230.0
1,No,0.0,No,0.0,No,No,No,23.04,No,No,...,No,Yes,No,2007-01-09,0.00,No,No,7.61,280.0,270.0
2,No,0.0,No,0.0,No,No,No,23.94,No,No,...,No,No,No,2007-01-15,0.00,No,No,13.20,230.0,230.0
3,No,0.0,No,0.0,Yes,Yes,No,8.05,No,No,...,No,Yes,No,2007-01-22,0.08,No,No,2.01,230.0,10.0
4,No,0.0,No,0.0,No,No,No,17.90,No,No,...,No,No,No,2007-01-30,0.00,No,No,5.82,220.0,220.0

In [42]:
weatherdf

,fogground,snowfall,dust,snowdepth,mist,drizzle,hail,fastest2minwindspeed,thunder,glaze,...,freezingrain,rain,highwind,date,precipitation,fogheavy,smokehaze,avgwindspeed,fastest2minwinddir,fastest5secwinddir
0,No,0.0,No,0.0,Yes,No,No,17.90,No,No,...,No,Yes,No,2007-01-06,0.13,No,No,8.05,230.0,230.0
1,No,0.0,No,0.0,No,No,No,23.04,No,No,...,No,Yes,No,2007-01-09,0.00,No,No,7.61,280.0,270.0
2,No,0.0,No,0.0,No,No,No,23.94,No,No,...,No,No,No,2007-01-15,0.00,No,No,13.20,230.0,230.0
3,No,0.0,No,0.0,Yes,Yes,No,8.05,No,No,...,No,Yes,No,2007-01-22,0.08,No,No,2.01,230.0,10.0
4,No,0.0,No,0.0,No,No,No,17.90,No,No,...,No,No,No,2007-01-30,0.00,No,No,5.82,220.0,220.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4839,No,0.0,No,0.0,No,No,No,23.94,No,No,...,No,No,No,2020-03-09,0.00,No,No,11.41,230.0,230.0
4840,No,0.0,No,0.0,No,No,No,17.00,Yes,No,...,No,No,No,2020-03-25,0.86,No,No,7.16,280.0,280.0
4841,No,0.0,No,0.0,No,No,No,14.99,No,No,...,No,No,No,2020-03-26,0.00,No,No,5.14,230.0,230.0
4842,No,0.0,No,0.0,No,No,No,17.00,No,No,...,No,No,No,2020-03-27,0.00,No,No,8.50,240.0,230.0
4843,No,0.0,No,0.0,No,No,No,18.12,No,No,...,No,No,No,2020-03-30,0.00,No,No,7.16,280.0,280.0

In [50]:
#You can also use boolean to ask questions
snowed = weatherdf['snowfall'] > 0

In [54]:
snowed

0       False
1       False
2       False
3       False
4       False
        ...
4839    False
4840    False
4841    False
4842    False
4843    False
Name: snowfall, Length: 4844, dtype: bool

In [56]:
weatherdf.snowfall.value_counts()

0.00    4793
0.20       7
0.39       6
0.31       4
0.71       3
0.51       3
0.98       3
1.42       3
0.12       3
1.89       2
0.59       2
1.18       2
3.19       2
0.91       2
0.79       1
6.69       1
7.01       1
3.58       1
3.31       1
2.52       1
3.50       1
5.91       1
Name: snowfall, dtype: int64

In [57]:
weatherdf.precipitation.value_counts()

0.00    3283
0.01     131
0.02      79
0.03      65
0.04      53
        ...
1.20       1
6.45       1
2.45       1
1.36       1
0.95       1
Name: precipitation, Length: 189, dtype: int64