[Home](https://pandas.pydata.org/pandas-docs/stable/index.html)
[What's New](https://pandas.pydata.org/pandas-docs/stable/whatsnew/v1.0.1.html)
[Getting Started](https://pandas.pydata.org/pandas-docs/stable/getting_started/index.html)
[User Guide](https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html)
[API Reference](https://pandas.pydata.org/pandas-docs/stable/reference/index.html)
[Development](https://pandas.pydata.org/pandas-docs/stable/development/index.html)
[Release Notes](https://pandas.pydata.org/pandas-docs/stable/whatsnew/index.html)
***
<img src="https://pandas.pydata.org/pandas-docs/stable/_static/pandas.svg" align="left" alt="dataframe image" width = "400">
***

In [7]:
#standard import The community agreed alias for pandas is pd, so loading pandas as pd is assumed standard practice for all of the pandas documentation.

import pandas as pd

If you have downloaded a conda distribution then you can ensure you have pandas and update it appropriately (conda install/update pandas) and or utilize (pip install pandas)

When working with tabular data, such as data stored in spreadsheets or databases, Pandas is the right tool for you when working in Jupyter Notebook or Lab. Pandas helps you to explore, clean, visualize, analyze and process your data. In Pandas, a data table is called a [DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html#pandas.DataFrame).

<!--![dataframe](images/dataframe.png) -->
<img src="https://pandas.pydata.org/pandas-docs/stable/_images/01_table_dataframe.svg" align="left" alt="dataframe image" width = "400">

In [9]:
!ls data

data.csv

In [16]:
df = pd.read_csv('data/data.csv')

In [17]:
df

         Date    Open    High     Low   Close    Volume  Adj Close
0  2012-06-01  569.16  590.00  548.50  584.00  14077000     581.50
1  2012-05-01  584.90  596.76  522.18  577.73  18827900     575.26
2  2012-04-02  601.83  644.00  555.00  583.98  28759100     581.48
3  2012-03-01  548.17  621.45  516.22  599.55  26486000     596.99
4  2012-02-01  458.41  547.61  453.98  542.44  22001000     540.12
5  2012-01-03  409.40  458.24  409.00  456.48  12949100     454.53

Each column in a DataFrame is a Series!

In [19]:
#to call just one column and put it into a series
df['Volume']

0    14077000
1    18827900
2    28759100
3    26486000
4    22001000
5    12949100
Name: Volume, dtype: int64

In [20]:
#to call a row of data use .loc[index]
df.loc[3]

Date         2012-03-01
Open             548.17
High             621.45
Low              516.22
Close            599.55
Volume         26486000
Adj Close        596.99
Name: 3, dtype: object

In [22]:
#to call just one column and statistically describe
df['Volume'].describe()

count    6.000000e+00
mean     2.051668e+07
std      6.439925e+06
min      1.294910e+07
25%      1.526472e+07
50%      2.041445e+07
75%      2.536475e+07
max      2.875910e+07
Name: Volume, dtype: float64

Pandas supports the integration with many file formats or data sources out of the box (csv, excel, sql, json, parquet,html, hdf5). Importing data from each of these data sources is provided by function with the prefix read_*. Similarly, the to_* methods are used to store data.

<img src="https://pandas.pydata.org/pandas-docs/stable/_images/02_io_readwrite.svg" alt="dataframe image" width = "800">

In [23]:
df2 = pd.read_csv('data/AI_Tools.csv')

In [27]:
df2.head()

,Tool/Capability,Description,Capability Type
0,Adobe Photoshop,Adobe Photoshop is a raster graphics editor.,Graphic editing
1,Amazon Backup,Fully managed backup service that makes it eas...,AWS Tools
2,Amazon Comprehend,Amazon Comprehend is a natural language proces...,AWS Tools
3,Amazon DynamoDB,Amazon DynamoDB is a fully managed proprietary...,AWS Tools
4,Amazon Elastic Block Storage,"Persistent, durable, low-latency block-level s...",AWS Tools

In [25]:
df3 = pd.read_excel('data/AI_Tools.xlsx')

In [29]:
df3.tail()

,Tool/Capability,Description,Capability Type
262,Watchfloor (SOC),Security Suite Tools - Security Operation Cent...,Automation/Infrastructure Tools
263,Windows Server,Windows Server 2012 or 2016,OS
264,XGBoost,XGBoost is an optimized distributed gradient b...,AI/ML Tools
265,Yarn,IDE - Apache Hadoop Yarn (Yet Another Resource...,OS
266,Zapier,Integrate web applications and automate workflows,Automation/Infrastructure Tools