[Home](https://pandas.pydata.org/pandas-docs/stable/index.html)
[What's New](https://pandas.pydata.org/pandas-docs/stable/whatsnew/v1.0.1.html)
[Getting Started](https://pandas.pydata.org/pandas-docs/stable/getting_started/index.html)
[User Guide](https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html)
[API Reference](https://pandas.pydata.org/pandas-docs/stable/reference/index.html)
[Development](https://pandas.pydata.org/pandas-docs/stable/development/index.html)
[Release Notes](https://pandas.pydata.org/pandas-docs/stable/whatsnew/index.html)
***
<img src="https://pandas.pydata.org/pandas-docs/stable/_static/pandas.svg" align="left" alt="dataframe image" width = "400">
***

In [3]:
#standard import The community agreed alias for pandas is pd, so loading pandas as pd is assumed standard practice for all of the pandas documentation.

import pandas as pd

If you have downloaded a conda distribution then you can ensure you have pandas and update it appropriately (conda install/update pandas) and or utilize (pip install pandas)

When working with tabular data, such as data stored in spreadsheets or databases, Pandas is the right tool for you when working in Jupyter Notebook or Lab. Pandas helps you to explore, clean, visualize, analyze and process your data. In Pandas, a data table is called a [DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html#pandas.DataFrame).

<!--![dataframe](images/dataframe.png) -->
<img src="https://pandas.pydata.org/pandas-docs/stable/_images/01_table_dataframe.svg" align="left" alt="dataframe image" width = "400">

In [4]:
%%file data/data.csv
Date,Open,High,Low,Close,Volume,Adj Close
2012-06-01,569.16,590.00,548.50,584.00,14077000,581.50
2012-05-01,584.90,596.76,522.18,577.73,18827900,575.26
2012-04-02,601.83,644.00,555.00,583.98,28759100,581.48
2012-03-01,548.17,621.45,516.22,599.55,26486000,596.99
2012-02-01,458.41,547.61,453.98,542.44,22001000,540.12
2012-01-03,409.40,458.24,409.00,456.48,12949100,454.53

Overwriting data/data.csv

In [5]:
!ls data

AI_Tools.csv             kernels.csv
data.csv                 rdu-weather-history.json

Read this as into a DataFrame:

In [6]:
df = pd.read_csv('data/data.csv')

In [7]:
df

         Date    Open    High     Low   Close    Volume  Adj Close
0  2012-06-01  569.16  590.00  548.50  584.00  14077000     581.50
1  2012-05-01  584.90  596.76  522.18  577.73  18827900     575.26
2  2012-04-02  601.83  644.00  555.00  583.98  28759100     581.48
3  2012-03-01  548.17  621.45  516.22  599.55  26486000     596.99
4  2012-02-01  458.41  547.61  453.98  542.44  22001000     540.12
5  2012-01-03  409.40  458.24  409.00  456.48  12949100     454.53

Each column in a DataFrame is a Series!

In [8]:
#to call just one column and put it into a series
df['Volume']

0    14077000
1    18827900
2    28759100
3    26486000
4    22001000
5    12949100
Name: Volume, dtype: int64

In [9]:
#to call a row of data use .loc[index]
df.loc[3]

Date         2012-03-01
Open             548.17
High             621.45
Low              516.22
Close            599.55
Volume         26486000
Adj Close        596.99
Name: 3, dtype: object

In [10]:
#to call just one column and statistically describe
df['Volume'].describe()

count    6.000000e+00
mean     2.051668e+07
std      6.439925e+06
min      1.294910e+07
25%      1.526472e+07
50%      2.041445e+07
75%      2.536475e+07
max      2.875910e+07
Name: Volume, dtype: float64

Pandas supports the integration with many file formats or data sources out of the box (csv, excel, sql, json, parquet,html, hdf5). Importing data from each of these data sources is provided by function with the prefix read_*. Similarly, the to_* methods are used to store data. see supported list: https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

<img src="https://pandas.pydata.org/pandas-docs/stable/_images/02_io_readwrite.svg" alt="dataframe image" width = "600">

In [11]:
df2 = pd.read_csv('data/AI_Tools.csv')

In [12]:
df2.head()

,Tool/Capability,Description,Capability Type
0,Adobe Photoshop,Adobe Photoshop is a raster graphics editor.,Graphic editing
1,Amazon Backup,Fully managed backup service that makes it eas...,AWS Tools
2,Amazon Comprehend,Amazon Comprehend is a natural language proces...,AWS Tools
3,Amazon DynamoDB,Amazon DynamoDB is a fully managed proprietary...,AWS Tools
4,Amazon Elastic Block Storage,"Persistent, durable, low-latency block-level s...",AWS Tools

In [13]:
list(df2.columns)

['Tool/Capability', 'Description', 'Capability Type']

In [14]:
df4 = df2[['Tool/Capability', 'Capability Type' ]]

In [15]:
df4.groupby(['Capability Type']).count()

                                 Tool/Capability
Capability Type
AI/ML Tools                                   58
AWS Tools                                     33
Automation/Infrastructure Tools               34
Azure Tools                                   21
Collaboration Tools                            3
Data Ingestion/Manipulation                   23
Data Visualization                             9
Database                                      14
DevSecOps Tools                               30
Docker Tools                                   5
Graphic editing                                1
Log Ingestion/Manipulation                     3
OS                                             8
OS Tools                                       1
Repository Tools/Library                      19
Requirements                                   1
Visualization Tools                            3

In [16]:
#You would be hard pressed to find any place better to get federal data and integrate into your project. Data.gov
import webbrowser
datagov = 'https://www.data.gov/'
webbrowser.open(datagov)

True

In [17]:
#https://catalog.data.gov/dataset/local-weather-archive Town of Cary, North Carolina
!ls data

AI_Tools.csv             kernels.csv
data.csv                 rdu-weather-history.json

In [18]:
weatherdf = pd.read_json('data/rdu-weather-history.json')

In [19]:
list(weatherdf.columns)

['fogground',
 'snowfall',
 'dust',
 'snowdepth',
 'mist',
 'drizzle',
 'hail',
 'fastest2minwindspeed',
 'thunder',
 'glaze',
 'snow',
 'ice',
 'fog',
 'temperaturemin',
 'fastest5secwindspeed',
 'freezingfog',
 'temperaturemax',
 'blowingsnow',
 'freezingrain',
 'rain',
 'highwind',
 'date',
 'precipitation',
 'fogheavy',
 'smokehaze',
 'avgwindspeed',
 'fastest2minwinddir',
 'fastest5secwinddir']

In [20]:
weatherdf.head()

,fogground,snowfall,dust,snowdepth,mist,drizzle,hail,fastest2minwindspeed,thunder,glaze,...,freezingrain,rain,highwind,date,precipitation,fogheavy,smokehaze,avgwindspeed,fastest2minwinddir,fastest5secwinddir
0,No,0.0,No,0.0,Yes,No,No,17.90,No,No,...,No,Yes,No,2007-01-06,0.13,No,No,8.05,230.0,230.0
1,No,0.0,No,0.0,No,No,No,23.04,No,No,...,No,Yes,No,2007-01-09,0.00,No,No,7.61,280.0,270.0
2,No,0.0,No,0.0,No,No,No,23.94,No,No,...,No,No,No,2007-01-15,0.00,No,No,13.20,230.0,230.0
3,No,0.0,No,0.0,Yes,Yes,No,8.05,No,No,...,No,Yes,No,2007-01-22,0.08,No,No,2.01,230.0,10.0
4,No,0.0,No,0.0,No,No,No,17.90,No,No,...,No,No,No,2007-01-30,0.00,No,No,5.82,220.0,220.0

In [21]:
weatherdf

,fogground,snowfall,dust,snowdepth,mist,drizzle,hail,fastest2minwindspeed,thunder,glaze,...,freezingrain,rain,highwind,date,precipitation,fogheavy,smokehaze,avgwindspeed,fastest2minwinddir,fastest5secwinddir
0,No,0.0,No,0.0,Yes,No,No,17.90,No,No,...,No,Yes,No,2007-01-06,0.13,No,No,8.05,230.0,230.0
1,No,0.0,No,0.0,No,No,No,23.04,No,No,...,No,Yes,No,2007-01-09,0.00,No,No,7.61,280.0,270.0
2,No,0.0,No,0.0,No,No,No,23.94,No,No,...,No,No,No,2007-01-15,0.00,No,No,13.20,230.0,230.0
3,No,0.0,No,0.0,Yes,Yes,No,8.05,No,No,...,No,Yes,No,2007-01-22,0.08,No,No,2.01,230.0,10.0
4,No,0.0,No,0.0,No,No,No,17.90,No,No,...,No,No,No,2007-01-30,0.00,No,No,5.82,220.0,220.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4839,No,0.0,No,0.0,No,No,No,23.94,No,No,...,No,No,No,2020-03-09,0.00,No,No,11.41,230.0,230.0
4840,No,0.0,No,0.0,No,No,No,17.00,Yes,No,...,No,No,No,2020-03-25,0.86,No,No,7.16,280.0,280.0
4841,No,0.0,No,0.0,No,No,No,14.99,No,No,...,No,No,No,2020-03-26,0.00,No,No,5.14,230.0,230.0
4842,No,0.0,No,0.0,No,No,No,17.00,No,No,...,No,No,No,2020-03-27,0.00,No,No,8.50,240.0,230.0
4843,No,0.0,No,0.0,No,No,No,18.12,No,No,...,No,No,No,2020-03-30,0.00,No,No,7.16,280.0,280.0

In [22]:
#You can also use boolean to ask questions
snowed = weatherdf['snowfall'] > 0

In [23]:
snowed

0       False
1       False
2       False
3       False
4       False
        ...
4839    False
4840    False
4841    False
4842    False
4843    False
Name: snowfall, Length: 4844, dtype: bool

In [24]:
weatherdf.snowfall.value_counts()

0.00    4793
0.20       7
0.39       6
0.31       4
0.71       3
0.51       3
0.98       3
1.42       3
0.12       3
1.89       2
0.59       2
1.18       2
3.19       2
0.91       2
0.79       1
6.69       1
7.01       1
3.58       1
3.31       1
2.52       1
3.50       1
5.91       1
Name: snowfall, dtype: int64

In [25]:
weatherdf.precipitation.value_counts()

0.00    3283
0.01     131
0.02      79
0.03      65
0.04      53
        ...
1.20       1
6.45       1
2.45       1
1.36       1
0.95       1
Name: precipitation, Length: 189, dtype: int64

In [26]:
import numpy as np
from pandas import Series, DataFrame

In [27]:
#Quicklearn DataFrames

#Let's get some data to play with. How about the Jupyter Kernels github
import webbrowser
website = 'https://github.com/jupyter/jupyter/wiki/Jupyter-kernels'
webbrowser.open(website)

True

In [28]:
#Copy and read to get data
kernels = pd.read_clipboard()

In [29]:
kernels

,Name,Jupyter/IPython Version,Language(s) Version,3rd party dependencies,Example Notebooks,Notes
0,Agda kernel,NaN,2.6.0,NaN,https://mybinder.org/v2/gh/lclem/agda-kernel/m...,NaN
1,Dyalog Jupyter Kernel,NaN,APL (Dyalog),Dyalog >= 15.0,Notebooks,Can also be run on TryAPL's Learn tab
2,Coarray-Fortran,Jupyter 4.0,Fortran 2008/2015,"GFortran >= 7.1, OpenCoarrays, MPICH >= 3.2","Demo, Binder demo",Docker image
3,Ansible Jupyter Kernel,Jupyter 5.6.0.dev0,Ansible 2.x,NaN,Hello World,NaN
4,sparkmagic,Jupyter >=4.0,"Pyspark (Python 2 & 3), Spark (Scala), SparkR (R)",Livy,"Notebooks, Docker Images",This kernels are implemented via the magics ma...
...,...,...,...,...,...,...
133,Bacatá,Jupyter,Java & Rascal,ZeroMQ & Rascal,Example,A Jupyter kernel generator for domain-specific...
134,nelu-kernelu,Jupyter,NodeJs 12,NodeJs 12.3+,Examples,An advanced NodeJs Jupyter kernel supporting c...
135,IPolyglot,Jupyter,"JavaScript, Ruby, Python, R, and more",GraalVM,Example Polyglot Notebook,Dockerfile
136,Emu86 Kernel,Jupyter,Intel Assembly Language,NaN,Introduction to Intel Assembly Language Tutorial,NaN
137,Common Workflow Language (CWL) Kernel,NaN,v1.0,NaN,examples directory,under development

In [30]:
#write to file to save your dataframe as a csv
kernels.to_csv(r'data/kernels.csv')

In [31]:
!ls data

AI_Tools.csv             kernels.csv
data.csv                 rdu-weather-history.json

In [32]:
# We can view the column names with .columns
kernels.columns

Index(['Name', 'Jupyter/IPython Version', 'Language(s) Version',
       '3rd party dependencies', 'Example Notebooks', 'Notes'],
      dtype='object')

In [33]:
#View specific data columns
DataFrame(kernels,columns=['Name','Language(s) Version','Notes'])

,Name,Language(s) Version,Notes
0,Agda kernel,2.6.0,NaN
1,Dyalog Jupyter Kernel,APL (Dyalog),Can also be run on TryAPL's Learn tab
2,Coarray-Fortran,Fortran 2008/2015,Docker image
3,Ansible Jupyter Kernel,Ansible 2.x,NaN
4,sparkmagic,"Pyspark (Python 2 & 3), Spark (Scala), SparkR (R)",This kernels are implemented via the magics ma...
...,...,...,...
133,Bacatá,Java & Rascal,A Jupyter kernel generator for domain-specific...
134,nelu-kernelu,NodeJs 12,An advanced NodeJs Jupyter kernel supporting c...
135,IPolyglot,"JavaScript, Ruby, Python, R, and more",Dockerfile
136,Emu86 Kernel,Intel Assembly Language,NaN
137,Common Workflow Language (CWL) Kernel,v1.0,under development

In [34]:
#We can view/retrieive individual columns
kernels['Name']

0                                Agda kernel
1                      Dyalog Jupyter Kernel
2                            Coarray-Fortran
3                     Ansible Jupyter Kernel
4                                 sparkmagic
                       ...
133                                   Bacatá
134                             nelu-kernelu
135                                IPolyglot
136                             Emu86 Kernel
137    Common Workflow Language (CWL) Kernel
Name: Name, Length: 138, dtype: object

In [35]:
#We can retrieve  a specific row through indexing
kernels.loc[10]

Name                                                                   tslab
Jupyter/IPython Version                                                  NaN
Language(s) Version                      Typescript 3.7.2, JavaScript ESNext
3rd party dependencies                                               Node.js
Example Notebooks                                          Example notebooks
Notes                      Jupyter kernel for JavaScript and TypeScript -...
Name: 10, dtype: object

In [36]:
#Can also view an index range
kernels[20:30]

,Name,Jupyter/IPython Version,Language(s) Version,3rd party dependencies,Example Notebooks,Notes
20,lgo,"Jupyter >= 4, JupyterLab",Go >= 1.8,ZeroMQ (4.x),Example,Docker image
21,iGalileo,"Jupyter >= 4, JupyterLab",Galileo >= 0.1.3,NaN,NaN,Docker image
22,gopherlab,"Jupyter 4.1, JupyterLab",Go >= 1.6,ZeroMQ (4.x),examples,"Deprecated, use gophernotes"
23,Gophernotes,"Jupyter 4, JupyterLab, nteract",Go >= 1.9,ZeroMQ 4.x.x,examples,docker image
24,IGo,NaN,Go >= 1.4,NaN,NaN,"Unmaintained, use gophernotes"
25,IScala,NaN,Scala,NaN,NaN,NaN
26,almond (old name: Jupyter-scala),IPython>=3.0,Scala>=2.10,NaN,examples,Docs
27,IErlang,IPython 2.3,Erlang,rebar,NaN,NaN
28,ITorch,IPython >= 2.2 and <= 5.x,Torch 7 (LuaJIT),NaN,NaN,NaN
29,IElixir,Jupyter >= 4.0,Elixir >= 1.5,"Erlang OTP >= 19.3, Rebar","example, Boyle package manager examples, Boyle...","IElixir Docker image, IElixir Notebook in Docker"

In [37]:
#Another way to select and view multiple columns
kernels[['Name','Language(s) Version']]

,Name,Language(s) Version
0,Agda kernel,2.6.0
1,Dyalog Jupyter Kernel,APL (Dyalog)
2,Coarray-Fortran,Fortran 2008/2015
3,Ansible Jupyter Kernel,Ansible 2.x
4,sparkmagic,"Pyspark (Python 2 & 3), Spark (Scala), SparkR (R)"
...,...,...
133,Bacatá,Java & Rascal
134,nelu-kernelu,NodeJs 12
135,IPolyglot,"JavaScript, Ruby, Python, R, and more"
136,Emu86 Kernel,Intel Assembly Language
137,Common Workflow Language (CWL) Kernel,v1.0

In [38]:
#You can also use boolean to ask questions
kernels[kernels['Language(s) Version']=='NodeJs 12']

,Name,Jupyter/IPython Version,Language(s) Version,3rd party dependencies,Example Notebooks,Notes
134,nelu-kernelu,Jupyter,NodeJs 12,NodeJs 12.3+,Examples,An advanced NodeJs Jupyter kernel supporting c...