In [2]:
import pandas as pd
from scipy import stats

In [5]:
cannibals = pd.read_excel('../data/Donner_Pass.xlsx')

In [6]:
cannibals.head()

,Name,Age,Gender,Survival,Death_Date,Rescue_Party,Date_Joined,Trapped_Camp
0,George Donner,60,M,0,03/27/1847,NaN,07/19/1846,1AC
1,Tamsen Donner,45,F,0,03/28/1847,NaN,07/19/1846,1AC
2,Frances Donner,6,F,1,NaN,3.0,07/19/1846,1AC
3,Georgia Donner,4,F,1,NaN,3.0,07/19/1846,1AC
4,Eliza Donner,3,F,1,NaN,3.0,07/19/1846,1AC

In [7]:
cannibals2 = pd.crosstab(cannibals['Gender'], cannibals['Survival'])

In [8]:
cannibals2

Survival   0   1
Gender
F          9  25
M         32  23

In [9]:
#Need to feed the contingency table into the statistic, NOT the actual data
stats.chi2_contingency(cannibals2)

(7.2757299275031535,
 0.006989248520143858,
 1,
 array([[15.66292135, 18.33707865],
        [25.33707865, 29.66292135]]))