In [2]:
# INSTALL PACKAGES ####
install.packages("tidyverse")
install.packages("gmodels")

# USE PACKAGES ####
library("tidyverse")
library("gmodels")

The downloaded binary packages are in
	/var/folders/wk/6why77bn1kn0l0pkd4vd3zl00000gn/T//Rtmpfl2mTb/downloaded_packages

In [4]:
# READ IN DATA
loans <- read.csv('../data/loans.csv')

In [6]:
# VIEW DATA
head(loans)

  X term       loan_status Date      home_ownership
1 1  36 months Fully Paid  12/1/2011 RENT
2 2  60 months Charged Off 12/1/2011 RENT
3 3  36 months Fully Paid  12/1/2011 RENT
4 4  36 months Fully Paid  12/1/2011 RENT
5 5  60 months Current     12/1/2011 RENT
6 6  36 months Fully Paid  12/1/2011 RENT

## Part I
Please answer the following question.

Does the term of the loan influence loan status? If so, how?

In [7]:
CrossTable(loans$term, loans$loan_status, fisher=TRUE, chisq = TRUE, expected = TRUE, sresid=TRUE, format="SPSS")

# 36 month term loans are more likely to be fully paid off and less likely to be charged off or current.  
# The reverse is true for 60 month loans.

   Cell Contents
|-------------------------|
|                   Count |
|         Expected Values |
| Chi-square contribution |
|             Row Percent |
|          Column Percent |
|           Total Percent |
|            Std Residual |
|-------------------------|

Total Observations in Table:  21957

             | loans$loan_status
  loans$term | Charged Off  |     Current  |  Fully Paid  |   Row Total |
-------------|-------------|-------------|-------------|-------------|
   36 months |       2029  |          0  |      14964  |      16993  |
             |   2540.011  |    388.509  |  14064.480  |             |
             |    102.808  |    388.509  |     57.530  |             |
             |     11.940% |      0.000% |     88.060% |     77.392% |
             |     61.822% |      0.000% |     82.342% |             |
             |      9.241% |      0.000% |     68.151% |             |
             |    -10.139  |    -19.711  |      7.585  |             |
-------------|-------------|-------------|-------------|-------------|
   60 months |       1253  |        502  |       3209  |       4964  |
             |    741.989  |    113.491  |   4108.520  |             |
             |    351.936  |   1329.961  |    196.941  |             |
             |     25.242% |     10.113% |     64.645% |     22.608% |
             |     38.178% |    100.000% |     17.658% |             |
             |      5.707% |      2.286% |     14.615% |             |
             |     18.760  |     36.469  |    -14.034  |             |
-------------|-------------|-------------|-------------|-------------|
Column Total |       3282  |        502  |      18173  |      21957  |
             |     14.947% |      2.286% |     82.766% |             |
-------------|-------------|-------------|-------------|-------------|


Statistics for All Table Factors


Pearson's Chi-squared test
------------------------------------------------------------
Chi^2 =  2427.685     d.f. =  2     p =  0

ERROR: Error in fisher.test(t, alternative = "two.sided"): FEXACT error 6 (f5xact).  LDKEY=484 is too small for this problem: kval=84285355.
Try increasing the size of the workspace.

## Part II
Please answer the following question.

How has the ability to own a home changed after 2009?

To reformat the Date column into a new column, use this code:

```
loans$DateR <- as.Date(paste(loans$Date), "%m/%d/%Y")
```

## Part III
Please answer the following question.

The news just ran a story that in America, only 15% of homes are fully paid, 10% have given up on paying it back ("charged off"), and 75% are current in the loan. Does it seem likely that the data for this hands-on came from the larger population of America?