# Beginning R

[source code](https://github.com/apress/beg-r-2ed)

In [1]:
myName <- "Joseph Raetano"
mySchool <- "University of Tennessee, Knoxville"
myURL <- "https://github.com/Wildertrek"
myData <- list(myName, mySchool, myURL)
myData

[[1]]
[1] "Joseph Raetano"

[[2]]
[1] "University of Tennessee, Knoxville"

[[3]]
[1] "https://github.com/Wildertrek"

In [2]:
x  <- 1 : 10

In [3]:
x

 [1]  1  2  3  4  5  6  7  8  9 10

In [4]:
z  <- rnorm(33, 70, 10)

In [5]:
z

 [1] 56.36525 66.83128 91.71480 52.87244 86.56730 77.52621 70.36660 68.38937
 [9] 70.47075 61.33773 67.08030 73.41996 77.42370 60.19682 74.42617 70.64372
[17] 72.30765 76.35182 61.75099 72.30526 64.86285 55.66169 81.08174 67.83182
[25] 60.91959 78.63832 60.00092 77.07676 69.59486 50.07555 60.86706 75.80625
[33] 74.89773

In [6]:
z <- round(z,2)

In [7]:
z

 [1] 56.37 66.83 91.71 52.87 86.57 77.53 70.37 68.39 70.47 61.34 67.08 73.42
[13] 77.42 60.20 74.43 70.64 72.31 76.35 61.75 72.31 64.86 55.66 81.08 67.83
[25] 60.92 78.64 60.00 77.08 69.59 50.08 60.87 75.81 74.90

In [8]:
names(x) <- c("a","b","b","d","e","f","g","h","i","j")

In [9]:
x

 a  b  b  d  e  f  g  h  i  j
 1  2  3  4  5  6  7  8  9 10

In [10]:
x<-1:10

In [11]:
names(x) <- toupper(letters[1:10])

In [12]:
x

 A  B  C  D  E  F  G  H  I  J
 1  2  3  4  5  6  7  8  9 10

In [13]:
w <- c (10 , NA , 10 , 25 , 30 , 15 , 10 , 18 , 16 , 15 )

In [14]:
w

 [1] 10 NA 10 25 30 15 10 18 16 15

In [16]:
mean(w)

[1] NA

In [17]:
mean(w, na.rm =TRUE)

[1] 16.55556

In [18]:
x <- 1:10

In [19]:
x[11]<-"A"

In [20]:
x

 [1] "1"  "2"  "3"  "4"  "5"  "6"  "7"  "8"  "9"  "10" "A"

In [21]:
str(x)

 chr [1:11] "1" "2" "3" "4" "5" "6" "7" "8" "9" "10" "A"

In [22]:
is.character(x)

[1] TRUE

In [23]:
x <- x[-11]

In [24]:
x

 [1] "1"  "2"  "3"  "4"  "5"  "6"  "7"  "8"  "9"  "10"

In [25]:
x <- as.integer(x)

In [27]:
y <- 5

In [28]:
x+y

 [1]  6  7  8  9 10 11 12 13 14 15

In [29]:
round(z/x,2)

Warning message in z/x:
“longer object length is not a multiple of shorter object length”

 [1] 63.19 42.67 18.10 18.13 16.07 11.24  9.47  8.23  5.92  8.06 64.65 26.54
[13] 24.11 15.67 13.50 10.93  7.26  7.99  8.06  5.83 84.83 40.12 20.86 13.53
[25] 14.37 11.60  9.85  7.70  7.00  6.82 56.27 38.39 28.64

In [30]:
A <- c(1.00, 0.14, 0.35, 0.14, 1.00, 0.09, 0.35, 0.09, 1.00)

In [31]:
dim(A)<-c(3,3)

In [32]:
A <- matrix(A , nrow=3 , ncol=3)

In [33]:
A

     [,1] [,2] [,3]
[1,] 1.00 0.14 0.35
[2,] 0.14 1.00 0.09
[3,] 0.35 0.09 1.00

In [34]:
Ainv <- solve(A)

In [35]:
MatProd <- A*Ainv

In [36]:
round(MatProd)

     [,1] [,2] [,3]
[1,] 1    0    0
[2,] 0    1    0
[3,] 0    0    1

In [37]:
section1 <- c(57.3, 70.6, 73.9, 61.4, 63.0, 66.6, 74.8, 71.8, 63.2, 72.3, 61.9, 70.0)
section2 <- c(74.6, 74.5, 75.9, 77.4, 79.6, 70.2, 67.5, 75.5, 68.2, 81.0, 69.6, 75.6, 69.5, 72.4, 77.1)
section3 <- c(80.5, 79.2, 83.6, 74.9, 81.9, 80.3, 79.5, 77.3, 92.7, 76.4, 82.0, 68.9, 77.6, 74.6)
allSections <- list(section1,section2,section3)
allSections
section_means <- sapply(allSections, mean)
round(section_means, 2)
section_sdev <- sapply(allSections, sd)
round(section_sdev,2)
lapply(allSections,var)

[[1]]
 [1] 57.3 70.6 73.9 61.4 63.0 66.6 74.8 71.8 63.2 72.3 61.9 70.0

[[2]]
 [1] 74.6 74.5 75.9 77.4 79.6 70.2 67.5 75.5 68.2 81.0 69.6 75.6 69.5 72.4 77.1

[[3]]
 [1] 80.5 79.2 83.6 74.9 81.9 80.3 79.5 77.3 92.7 76.4 82.0 68.9 77.6 74.6

[1] 67.23 73.91 79.24

[1] 5.74 4.17 5.40

[[1]]
[1] 32.99515

[[2]]
[1] 17.3521

[[3]]
[1] 29.18879

In [38]:
roster <- read.csv('../data/roster.csv')

There are a couple of ways to read the data

```R
roster
View(roster)
head(roster)
```

In [42]:
roster

   Jersey Name               Position Inches Pounds Class
1   0     Rooks, Patrick     G        74     190    freshman
2   1     Ajukwa, Austin     G        78     205    sophomore
3   3     Holmes, Avry       G        74     205    junior
4   5     Blossomgame, Jaron F        79     215    sophomore
5  10     DeVoe, Gabe        G        75     200    freshman
6  12     Hall, Rod          G        73     205    senior
7  15     Grantham, Donte    F        80     205    freshman
8  20     Roper, Jordan      G        72     165    junior
9  21     Harrison, Damarcus G        76     205    senior
10 33     Smith, Josh        F        80     245    junior
11 35     Nnoko, Landry      C        82     255    junior
12 44     McGillan, Riley    G        72     175    junior
13 50     Djitte, Sidy       C        82     240    sophomore

In [41]:
View(roster)

   Jersey Name               Position Inches Pounds Class
1   0     Rooks, Patrick     G        74     190    freshman
2   1     Ajukwa, Austin     G        78     205    sophomore
3   3     Holmes, Avry       G        74     205    junior
4   5     Blossomgame, Jaron F        79     215    sophomore
5  10     DeVoe, Gabe        G        75     200    freshman
6  12     Hall, Rod          G        73     205    senior
7  15     Grantham, Donte    F        80     205    freshman
8  20     Roper, Jordan      G        72     165    junior
9  21     Harrison, Damarcus G        76     205    senior
10 33     Smith, Josh        F        80     245    junior
11 35     Nnoko, Landry      C        82     255    junior
12 44     McGillan, Riley    G        72     175    junior
13 50     Djitte, Sidy       C        82     240    sophomore

In [44]:
head(roster)

  Jersey Name               Position Inches Pounds Class
1  0     Rooks, Patrick     G        74     190    freshman
2  1     Ajukwa, Austin     G        78     205    sophomore
3  3     Holmes, Avry       G        74     205    junior
4  5     Blossomgame, Jaron F        79     215    sophomore
5 10     DeVoe, Gabe        G        75     200    freshman
6 12     Hall, Rod          G        73     205    senior

In [43]:
str(roster)

'data.frame':	13 obs. of  6 variables:
 $ Jersey  : int  0 1 3 5 10 12 15 20 21 33 ...
 $ Name    : chr  "Rooks, Patrick" "Ajukwa, Austin" "Holmes, Avry" "Blossomgame, Jaron" ...
 $ Position: chr  "G" "G" "G" "F" ...
 $ Inches  : int  74 78 74 79 75 73 80 72 76 80 ...
 $ Pounds  : int  190 205 205 215 200 205 205 165 205 245 ...
 $ Class   : chr  "freshman" "sophomore" "junior" "sophomore" ...

In [15]:
mammals <- filter(Copy_of_Animals, Animal != "Gold Fish")
mammals

ERROR: Error in as.ts(x): object 'Copy_of_Animals' not found